TO-DO
.Rproj.user
.Rhistory
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.eps
*.pdf
*.Rmd
*.Rd
*.RData
*.html
*.gif
*.Rproj
*.sublime-project
*.sublime-workspace
*.sh
*.o
*.so
*.tar.gz
*.code-workspace
*.json
*.csv
tests-own
